<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%-include('partials/pager.ejs')%>

    

    <a href="/perform"><button  class="btn" >Ok</button></a> 
    
    
</body>

<%-include ('partials/materialize.ejs')%>

</html>
